<!-- filter.php -->
<div class="filter-box position-relative">
  <span class="filter-label">Filter</span>
  <form id="filterForm" class="row g-3 mt-3">
    <div class="col-12 col-md-5 position-relative">
      <label for="textFilter" class="form-label">Keyword</label>
      <input type="text" class="form-control" id="textFilter" placeholder="" />
    </div>
    <div class="col-12 col-md-5 position-relative">
      <label for="dateFilter" class="form-label">Date</label>
      <input type="date" class="form-control" id="dateFilter" />
    </div>
    <div class="col-12 col-md-2 d-flex align-items-end">
      <button type="submit" class="btn submit-btn w-100">Apply</button>
    </div>
  </form>
</div>
