<!-- sidebar.php -->
<div class="sidebar">
  <h6 class="m-0 p-2 rounded-top"><strong class="ps-2">Navigation</strong></h6>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <a data-bs-toggle="collapse" href="#submenu1" role="button">
        <i class="fas fa-newspaper me-2"></i>Press Releases
      </a>
      <ul class="collapse ps-4 submenu" id="submenu1">
        <li><a href="#">2023</a></li>
        <li><a href="#">2024</a></li>
      </ul>
    </li>
    <li class="list-group-item">
      <a data-bs-toggle="collapse" href="#submenu2" role="button">
        <i class="fas fa-image me-2"></i>Image Gallery
      </a>
      <ul class="collapse ps-4 submenu" id="submenu2">
        <li><a href="./pest-gallery.html">Pest Gallery</a></li>
        <li><a href="./disease-gallery.html">Disease Gallery</a></li>
      </ul>
    </li>
    <li class="list-group-item">
      <a data-bs-toggle="collapse" href="#submenu3" role="button">
        <i class="fas fa-broom me-2"></i>Swachh Delhi
      </a>
      <ul class="collapse ps-4 submenu" id="submenu3">
        <li><a href="#">Campaigns</a></li>
        <li><a href="#">Reports</a></li>
      </ul>
    </li>
    <li class="list-group-item">
      <a data-bs-toggle="collapse" href="#submenu4" role="button">
        <i class="fas fa-video me-2"></i>Videos
      </a>
      <ul class="collapse ps-4 submenu" id="submenu4">
        <li><a href="../video.html">Interviews</a></li>
        <li><a href="#">Documentaries</a></li>
      </ul>
    </li>
    <li class="list-group-item">
      <a data-bs-toggle="collapse" href="#submenu5" role="button">
        <i class="fas fa-envelope-open-text me-2"></i>Messages
      </a>
      <ul class="collapse ps-4 submenu" id="submenu5">
        <li><a href="#">CM</a></li>
        <li><a href="#">Deputy CM</a></li>
      </ul>
    </li>
    <li class="list-group-item rounded-bottom">
      <a data-bs-toggle="collapse" href="#submenu6" role="button">
        <i class="fas fa-microphone me-2"></i>Speeches
      </a>
      <ul class="collapse ps-4 submenu" id="submenu6">
        <li><a href="#">Public</a></li>
        <li><a href="#">Official</a></li>
      </ul>
    </li>
  </ul>
</div>
